/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
/*Colores*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: hsl(210, 46%, 95%);
  font-size: 13px;
}

.card {
  background-color: white;
  width: 330px;
  height: 518px;
  margin: 75px auto;
  border-radius: 12px;
  position: relative;
}
.card .card__picture {
  width: 100%;
  height: 200px;
  background: url(./images/drawers.jpg);
  background-size: cover;
  background-position-y: -20px;
  border-radius: 12px 12px 0 0;
}
.card .card__content__title {
  color: hsl(217, 19%, 35%);
  margin: 30px 30px 12px;
  font-size: 1.24em;
  line-height: 24px;
}
.card .card__content__description {
  color: hsl(214, 17%, 51%);
  margin: 0 42px 30px 30px;
  font-size: 1em;
  line-height: 20px;
}
.card .card__content__button {
  position: absolute;
  right: 25px;
  bottom: 25px;
  width: 30px;
  height: 30px;
  background-color: hsl(210, 46%, 95%);
  border-radius: 50px;
  padding: 5px 8px;
  z-index: 1;
}
.card .card__content__button:hover {
  cursor: pointer;
  background-color: hsl(214, 17%, 51%);
}
.card .card__content__button:hover path {
  fill: white;
}
.card .card__content__profile {
  display: flex;
  margin: 0 30px;
}
.card .card__content__profile .card__content__profile__picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.card .card__content__profile .card__content__name {
  color: hsl(217, 19%, 35%);
  margin: 4px 0 2px 15px;
  font-weight: 700;
}
.card .card__content__profile .card__content__date {
  margin-left: 15px;
  color: hsl(212, 23%, 69%);
}
.card .card__content__social-icons {
  background-color: hsl(217, 19%, 35%);
  height: 80px;
  width: 100%;
  padding: 30px;
  display: none;
  gap: 5px;
  align-items: center;
  border-radius: 0 0 12px 12px;
  position: absolute;
  bottom: 0;
}
.card .card__content__social-icons__share {
  text-transform: uppercase;
  color: hsl(212, 23%, 69%);
  letter-spacing: 4px;
  margin-right: 10px;
  font-weight: 500;
}
.card .card__content__social-icons__icon {
  margin: 0 8px;
}
.card .show {
  display: flex;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 745px) {
  .card {
    margin: 270px auto 75px;
    width: 735px;
    height: 280px;
    display: flex;
  }
  .card .card__picture {
    height: 100%;
    background-position: unset;
    border-radius: 12px 0 0 12px;
  }
  .card .card__content {
    padding: 0 30px 30px 30px;
  }
  .card .card__content .card__content__title {
    margin-bottom: 20px;
    font-size: 1.5em;
    line-height: 26px;
  }
  .card .card__content .card__content__description {
    margin-bottom: 20px;
    font-size: 0.85em;
  }
  .card .card__content .card__content__button {
    right: 50px;
    bottom: 30px;
  }
  .card .card__content .card__content__social-icons {
    width: 250px;
    height: 56px;
    bottom: 80px;
    right: -60px;
    border-radius: 8px;
  }
  .card .card__content .card__content__social-icons:after {
    content: "";
    border: 10px solid;
    border-color: hsl(217, 19%, 35%) transparent transparent;
    position: absolute;
    left: 115px;
    top: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
